<nav id="head">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mongo Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/saved">Saved Articles</a></li>
    
    </ul>
    
    <button class="btn btn-danger navbar-btn" id="Scraper"><a href="/scrape">SCRAPE NEW ARTICLES!</a></button>
    
  </div>
</nav>
<div id="na">
<p> <span>M</span>ONGO <span>S</span>CRAPER</p>
<p id="newy"><span>N</span>EW <span>Y</span>ORK <span>T</span>IMES <span>E</span>DITION</p>
</div>
 <div id="container" class="hi">
 <div id="empty" class="jumbotron"><h3>Uh Oh. Looks like we don't have any new articles.<h3></div>

 
            <div class="panel-heading">
            </div>
             <div id="topArticles" class="panel-body" class="jumbotron">

             </div>


     </div>