<nav id="head">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mongo Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/saved">Saved Articles</a></li>
    </ul>
   
  </div>
</nav>
<div id="nb">
<p> <span>S</span>AVED <span>A</span>RTICLES</p>
<p id="newy"><span>Y</span>OUR <span>S</span>AVED <span>A</span>RTICLES</p>
</div>
 <div id="notes">

            <div class="panel" >
              <button class="note"  class="btn btn-success">ARTICLE NOTES</button>
              <button class="delete"  class="btn btn-success">DELETE FROM SAVED</button>
            </div>
             <div class="article" class="panel-body">
             </div>

     </div>

    <div id="addnote" class="modal">
    <div class="modalContainer">
      <div class="close">&times;</div>
      <div class="modalContent">
      </div>
      <div class="claimStatus">
      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>